<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title},~{::section.content})}">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
</head>
<body>
<section class="content">
<h5>Информацией о всех книгах в библиотеке</h5>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Название</th>
    <th>Описание</th>
    <th>Год издания</th>
    <th>Количество страниц</th>
    <th>Тематика</th>
    <th>Категория</th>
    <th>Издательство</th>
    <th>Авторы</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="book : ${books}">
    <td th:text="${book.getId()}"></td>
    <td th:text="${book.getName()}"></td>
    <td th:text="${book.getDescription()}"></td>
    <td th:text="${book.getYear()}"></td>
    <td th:text="${book.getPages()}"></td>
    <td th:text="${book.getTheme().getName()}"></td>
    <td th:text="${book.getCategory().getName()}"></td>
    <td th:text="${book.getPress().getName()}"></td>
    <td>
      <span th:each="author : ${book.getAuthors()}" th:text="${author.getFirstName() + ' ' + author.getLastName()} + ', '"></span>
    </td>
  </tr>
  </tbody>
</table>
</section>
</body>
</html>