<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title},~{::section.content})}">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
<section class="content">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Faculty</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.getId()}"></td>
            <td th:text="${group.getName()}"></td>
            <td>
                <span th:each="faculty : ${group.getFaculty()}" th:text="${faculty.getName()}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>