<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title},~{::section.content})}">
<head>
  <meta charset="UTF-8">
  <title>Teacher add</title>
</head>
<body>
<section class="content">
  <form th:action="@{/teacher/add}" th:object="${teacher}" th:method="POST">
    <div>
      <p>
        <label for="FirstName">First Name:</label>
        <input type="text" th:field="*{firstName}" id="FirstName">
      </p>
      <p>
        <label for="LastName">Last Name:</label>
        <input type="text" th:field="*{lastName}" id="LastName">
      </p>
      <p>
        <label for="department">Department:</label>
        <select id="department" th:field="*{department}" required>
          <option th:each="dept : ${departments}" th:value="${dept.id}" th:text="${dept.name}"></option>
        </select>
      </p>
      <p>
        <input type="submit" value="Submit">
      </p>
    </div>
  </form>
</section>
</body>
</html>